{% macro render(form) %}
  {{ form.hidden_tag() }}
  {% for field in form %}
    {% if field.type != 'CSRFTokenField' and field.type != 'HiddenField' %}

      <div class="form-group">
        {% if field.type == 'SubmitField' %}
          <button class="action">
            <i class="fa fa-check"></i> {{ field.label.text }}
          </button>
        {% else %}
          <label for="{{ field.id }}">
            {{ field.label.text }}:
            {% if field.flags.required %}*{% endif %}
          </label>
          {{ field  }}
        {% endif %}

        {% if field.errors %}
          <div class="form-errors">
            {% for error in field.errors %}
              <span class="error">{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>

    {% endif %}
  {% endfor %}
{% endmacro %}
