/* Fonts */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded- opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* Basic layout */

html, body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none !important;
}

main {
  width: auto;
  max-width: 680px;
  min-height: 100%;
  overflow: auto;
  padding-bottom: 40px;
}

footer {
  position: relative;
  margin-top: -30px;
  height: 20px;
  clear: both;
  color: #ccc;
  font-size: 10pt;
}

.center {
  text-align: center;
}

.action {
  margin: 10px;
}

/* Forms */

.form {
  margin: 0 auto;
  max-width: 500px;
}

.important:before {
  content: '- ';
}

.important {
  float: left;
  display: block;
  color: #b94a48;
}

.compose-form textarea {
  height: 300px;
  font-family: monospace;
  resize: vertical;
}

/* ... */

header {
  margin-bottom: 50px;
}

.blog-title {
  margin-top: 30px;
  margin-bottom: 10px;
}

.blog-description {
  color: #bbb;
  font-size: 12pt;
}

article {
  margin-bottom: 20px;
}

h1.post-title {
  font-size: 24pt;
  margin-bottom: 5px;
}

h2.post-title {
  font-size: 22pt;
  margin-bottom: 5px;
}

.post-date {
  color: #bbb;
  margin: 0;
}

.post-content h1 {
  font-size: 16pt;
}

.post-content h2 {
  font-size: 12pt;
}

.next-page {
  float: right;
}
