{% extends 'layout/layout.jinja2' %}

{% block title %}Page not found{% endblock %}

{% block content %}
  <h2>Page not found</h2>
  <p>The page you are looking for was not found. Please make sure the address is correct and try again.</p>
{% endblock %}
