{% extends 'layout/layout.jinja2' %}

{% block title %}Application error{% endblock %}

{% block content %}
  <h2>Application error</h2>
  <p>Something went wrong. Please try again later.</p>
{% endblock %}
