{% extends 'layout/layout.jinja2' %}
{% from 'lib/form.jinja2' import render %}

{% block title %}Compose a new post{% endblock %}

{% block content %}
  <div class="form-container">
    <form class="compose-form" method="post">
      {{ render(form) }}
    </form>
  </div>
{% endblock %}
