{% extends 'layout/layout.jinja2' %}

{% block title %}Delete a post{% endblock %}

{% block content %}
  <div class="form-container">
    <div class="alert">
      Are you sure you want to delete the post "{{ post.title }}"?<br />
      This action cannot be undone!
    </div>

    <a class="action" href="{{ url_for('admin.delete', post_id=post.id, confirm='yes') }}">
      <i class="fa fa-check"></i> Delete
    </a>

    <a class="action" href="{{ url_for('regular.post', post_id=post.id, link_text=post.link_text) }}">
      <i class="fa fa-times"></i> Cancel
    </a>
  </div>
{% endblock %}
