{% extends 'layout/layout.jinja2' %}

{% block title %}Delete a post{% endblock %}

{% block content %}
  <div class="form">
    <div class="alert alert-danger">
      Are you sure you want to delete the post "{{ post.title }}"?<br />
      This action cannot be undone!
    </div>
    <a class="action" href="{{ link('delete', post.id, 'confirm', 'yes') }}">
      <span class="glyphicon glyphicon-ok"></span> Delete
    </a>
    <a class="action" href="{{ link('post', post.id, post.link_text) }}">
      <span class="glyphicon glyphicon-remove"></span> Cancel
    </a>
  </div>
{% endblock %}
