{% extends 'layout/layout.jinja2' %}
{% from 'lib/form.jinja2' import render_fields, render_submit %}

{% block title %}Installation{% endblock %}

{% block content %}
  <div class="form">
    {% if install_error %}
      <div class="alert alert-danger">
        Installation failed with the following error:<br />
        {{ install_error }}
      </div>
    {% endif %}
    <form method="post">
      {{ xsrf_token }}
      {{ render_fields(form) }}
    </form>
  </div>
{% endblock %}
