{% extends 'layout/layout.jinja2' %}
{% from 'lib/form.jinja2' import render %}

{% block title %}Installation{% endblock %}

{% block content %}
  <div class="form-container">
    {% if install_error %}
      <div class="alert">
        Installation failed with the following error:<br />
        {{ install_error }}
      </div>
    {% endif %}

    <form method="post">
      {{ render(form) }}
    </form>
  </div>
{% endblock %}
