{% extends 'layout/layout.jinja2' %}
{% from 'lib/form.jinja2' import render %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="form-container">
    {% if login_failed %}
      <div class="alert">Invalid username or password.</div>
    {% endif %}

    <form method="post">
      {{ render(form) }}
    </form>
  </div>
{% endblock %}
