<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ g.settings.blog_name }}{% endblock %}</title>
    <meta name="description" content="{{ g.settings.blog_description }}">
    <meta name="author" content="{{ g.settings.blog_author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets 'css' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
  </head>
  <body>
    <main class="container">
      <header class="center">
        <a href="{{ url_for('regular.index') }}">
          <h1 class="blog-title">{{ g.settings.blog_name }}</h1>
          <p class="blog-description">{{ g.settings.blog_description }}</p>
        </a>
        {% if session.logged_in %}
          <a class="action" href="{{ url_for('admin.settings') }}">
            <span class="glyphicon glyphicon-wrench"></span> Settings
          </a>
          <a class="action" href="{{ url_for('admin.compose') }}">
            <span class="glyphicon glyphicon-pencil"></span> New post
          </a>
          {% if post %}
            <a class="action" href="{{ url_for('admin.compose', post_id=post.id) }}">
              <span class="glyphicon glyphicon-edit"></span> Edit
            </a>
            <a class="action" href="{{ url_for('admin.delete', post_id=post.id) }}">
              <span class="glyphicon glyphicon-trash"></span> Delete
            </a>
          {% endif %}
          <a class="action" href="{{ url_for('admin.logout') }}">
            <span class="glyphicon glyphicon-log-out"></span> Log out
          </a>
        {% endif %}
      </header>
      {% block content %}{% endblock %}
    </main>
    {% if g.settings.blog_author %}
      <footer class="center">
        <div id="footer-fader"></div>
        <div class="container">
          <p>Copyright &copy; {{ g.settings.blog_author }}</p>
        </div>
      </footer>
    {% endif %}
  </body>
</html>
